<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901392716655-o1sik9b9c8cbkklgv2aq2iu3s0f80j53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901392716655-o1sik9b9c8cbkklgv2aq2iu3s0f80j53</string>
	<key>API_KEY</key>
	<string>AIzaSyD17SVnOWr80tX3MDoU1Vb_HkfCaJnpjaY</string>
	<key>GCM_SENDER_ID</key>
	<string>901392716655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barb.thebarber</string>
	<key>PROJECT_ID</key>
	<string>barber-587b7</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-587b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901392716655:ios:b08fcb747c2ac263288e9a</string>
</dict>
</plist>